body {
  background-color: #14171a;
}

.my-textarea {
  background-color: transparent;
  outline: none;
  border: none;
  overflow: hidden;
  width: 97%;
  min-height: 40px;
  max-height: 400px;
  font-size: 18px;
  margin-top: 18px;
  margin-left: 18px;
}

::-webkit-scrollbar {
  display: none;
}
